/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==========================================================
                          GERAL
==========================================================*/
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*==========================================================
                          GERAL
==========================================================*/
header {
    display: flex ;
    justify-content: space-between;
    padding: 3vw 10vw 4vw 10vw;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 0 10px 0 10px ;

}
a.botao {
    background-color: #0E8388;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px ;
}
header h1 {
    font-weight: bold;
    font-size: 1.5rem;
}
/*==========================================================
                          SECTION.BANNER
==========================================================*/
main section.banner {
    text-align: center;
}
section.banner h2 {
    font-weight: bold;
    font-size: 2rem ;
}
section.banner p {
    margin: 1.5vw 0 ;
    font-size: 1.2rem ;
    color: #888888
}
section.banner p a.botao {
    background-color: #0E8388;
}
section.banner img {
    width: 80%;
    max-width: 800px;
}
/*==========================================================
                          SECTION.PRODUCTS
==========================================================*/
section.products {
    background-color: #CBE4DE;
    padding: 1.5vw 0 0 0;
}
section.products h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 1.5vw 0;
}
section.products p.prc {
    text-align: center;
    margin: 0 34vw;
    color: #888888;
}
section.products p {
    color: #888888;
    font-size: small;
    margin: 0 4vw;
}
section.products ul {  
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}
section.products ul li {
    width: 21%;
    text-align: center;
    background-color: #fafafa;
    border-radius: 20px;
    margin: 1vw;
    padding: 1vw;
}
section.products ul li i {
    font-size: 2.3rem;
    color: #888888;
    background-color: #EFEFEF;
    border-radius: 100px;
    padding: 1vw;

}
section.products ul li h3 {
    margin: 1vw 0 1vw 0;
}
/*==========================================================
                          SECTION.BUILD
==========================================================*/
.build {
    text-align: center;
}
.build div.maior {
    display: flex;
    justify-content: center;
    margin: 0 0 5vw 0;
}
.build div.um {

}
.build div.dois {
    padding: 6vw 0 0 3vw;
    text-align: left;
}
.build div.titulo {
    margin: 6vw 0 0 0;
}
.build div.titulo h2 {
    font-size: 2rem;
}
.build div.titulo p.ump {
    color: #888888;
    margin: 1vw 33vw;
}
.build div.dois p.doisp {
    font-size: 1.2rem;

}
.build div.dois p.tresp {
    color: #888888 ;
    margin: 1vw 0 0 0;;
}  
/*==========================================================
                          SECTION.FOOTER
==========================================================*/
footer {
    background-color: #CBE4DE;
    display: flex;
    justify-content: space-around;
    padding: 1vw;
}
footer p span {
    color: #000000;
    font-size: 1.2rem;
}
footer p {
    color: #888888;
    font-size: small;
}
footer ul {
    display: flex;
    margin: 0 3vw 0 3vw;

}
footer ul li a {
    margin: 0 1vw;
    color: #888888;
    font-size: small;
}
/*==========================================================
                        Responsivo
==========================================================*/
@media (max-width: 600px) {
    header {
        display: block;
        text-align: center;
    }
    header nav ul li {
        width: 40%;
        margin: 2vw;
    }
    header nav ul {
        flex-wrap: wrap;
        margin: 1.5vw;
        justify-content: center;
    }
    header a h1 {
        margin: 3vw;
    }   
    section.products ul li {
        width: 70%;
        margin: 2.5vw auto 2.5vw auto;

    }
    section.products h2 {
        font-size: 2rem;
    }
    section.products ul {
        display: block;
    }
    .build div.maior {
        display: block;
        margin: 0 0 4vw 0;
    }
    .build img {
        margin: 10px; 
        width: 80%;
    }

    .build div.maior {
        padding: 4vw 0 0 0;
        text-align: center;
    }

    .build div.titulo h2 {
        font-size: 1.5rem;
    }

    .build div.titulo p.ump {
        margin: 1vw 20vw;
    }

    .build div.dois p.doisp {
        font-size: 1rem; 
        text-align: center;
    }

    .build div.dois p.tresp {
        margin: 1vw 0 0 0;
        text-align: center;
    }
    footer {
        display: block;
        text-align: center; 
        padding: 4vw 2vw; 
    }

    footer p {
        font-size: 0.9rem;
        text-align: center; 
        margin: 1vw 0; 
    }

    footer p span {
        font-size: 1rem;
    }

    footer ul {
        display: block; 
        margin: 0;
        align-items: center; 
    }

    footer ul li a {
        margin: 1vw 0;
        font-size: 1rem;
    }
  }